<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>{{username}}的信息流</title>

    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/jquery.fileupload.css" rel="stylesheet">
    <link href="/static/css/jquery.fileupload-ui.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
      body{
        padding-top: 70px;
      }

      .panel{
        margin-left: 5px;
        margin-bottom: 6px;
      }
      .col-md-3{
        
        padding-left: 3px; 
        padding-right: 0px;
      }
      .col-md-6{
        padding-left: 3px;
        padding-right: 3px;
      }
      
      .main_container{
        margin-left: 5px;
        margin-right: 5px;
      }

      #send{
        margin-top: 10px;
        position: relative;
        float: right;
      }

      #map_marker{
        margin-top: 10px;
        border: 0px;
      }

      #map_marker:hover{
        border:1px;
      }

      #photo{
        margin-top: 10px;
        border: 0px;
      }

      #photo:hover{
        border:1px;
      }

      .img-rounded{
        background-color: #EDEDED;
        width: 39px;
        height: 39px;
        
      }

      #favourite{
        border: 0px;
        margin-top: 0px;

      }

      .messenge_panel{

        padding-bottom: 5px;
      }
      .divider{
        margin-top: 5px;
        margin-bottom: 5px;
      }
      .btn_small_fav,.btn_small_comm ,.btn_small_re ,.btn_small_like{
          border: 0px;
      }

      .btn_small_fav:hover{
          background-color: white;
          color: #388E8E;
      }

      .btn_small_comm:hover{
          background-color: white;
          color: #EEC900
      }
      .btn_small_re:hover{
          background-color: white;
          color: #DC143C
      }
      .btn_small_like:hover{
          background-color: white;
          color: #63B8FF;
      }

      .upload{
        width: 180px;
        height: 50px;
        outline: none;
      }


      .username{
        font-size: 16px;
      }

      .time{
        color: #ABABAB;
      }
      .option_comment{
        margin-top: 10px;
      }

      #pic{
        width: 25px;
        height: 25px;
        margin-top: 13px;
      }

      .caret{
        margin-top: 12px;
        margin-left: 3px;
      }

      #main_pic{
        width: 200px;
        height: 200px;
      }

    </style>
    <script type="text/javascript">
          function enbled(){
            document.getElementById('send').disabled=false;
          }

          $(function(){
            $('[data-toggle="popover"]').popover()
          })
            
      }
    </script>
    <script src="/static/js/jquery-1.11.2.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">新私信</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">想给谁发私信</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">信息</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">发送</button>
      </div>
    </div>
  </div>
</div>



    <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        
        
      </button>
      <a class="navbar-brand" href="#">Work.me</a>
      <form class="navbar-form navbar-left" role="search" action="/search/">
        <div class="form-group">
          <input type="text" name ="keyword" style="width:300px" class="form-control" placeholder="搜索人脉、公司、消息">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav">
      </li>
        <li class="active"><a href="#">首页 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">发现</a></li>
        <li><a href="#">专栏</a></li>
        <li><a href="#" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">私信</a></li>

      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">消息</a></li>
        <li class="dropdown">
          <img src="{{pic}}" id="pic" class="img-rounded dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="caret"></span></img>
          <ul class="dropdown-menu" role="menu">
            <li><a href="http://127.0.0.1:8000/profile/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> &nbsp&nbsp   主页</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-star" aria-hidden="true"></span> &nbsp&nbsp     收藏</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> &nbsp&nbsp     私信</a></li>
            <li class="divider"></li>
            <li><a href="http://127.0.0.1:8000/setting/"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> &nbsp&nbsp     设置</a></li>
            <li><a href="http://127.0.0.1:8000/login/"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> &nbsp&nbsp     退出</a></li>
          </ul>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
  
  <div id="main_container" class="container">

    <div class="row">
      <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-body">
                  <a href="http://127.0.0.1:8000/profile/">
                    <img id = "main_pic" class="img-rounded" src="{{pic}}">
                  </a>
                  <div class="row">
                <div id="followings" class = "col-md-4">
                  <p>正在关注</p>
                  <p><a href="">{{followings}}</a></p>
                </div>
                <div d="followers" class = "col-md-4">
                  <p>关注者</p>
                  <p><a href="">{{followers}}</a></p>
                </div>
                <div d="followers" class = "col-md-4">
                  <p>已发消息</p>
                  <p><a href="">{{messenages}}</a></p>
                </div>

                    
                  </div>
            </div>
          </div>
          <div class="panel panel-default">
          <div class="panel-heading">热门</div>
            <div class="panel-body">
                {% for item in topics %}
                <div>
                  <p><a href=""><strong>{{ item.0 }}</strong></a></p>
                  

                  <hr class="divider">
                </div>
                {% endfor %}
            </div>
          </div>

      </div>
      <div class="col-md-6">
        <div class="container-fluid">
          <div class="row">
          
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
              <div class = "col-md-1">
                  <a href="#">
                      <img class="img-rounded" src="{{pic}}">
                  </a>
              </div>
              <div class = "col-md-11">
                <form action = "/send_messenge/" method = "POST" enctype="multipart/form-data">
                    <textarea id="content" name = "content" class="form-control" rows="3"   placeholder="想说点儿什么？"></textarea>
                    <span id="photo" class="btn btn-default fileinput-button">
                        <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                            <span>上传图片</span>
                                  <input type="file" id="upload_image" data-url="/upload/" name="up_image" multiple>
                        </span>
                
                
                    <button type="submit" id="send" class="btn btn-primary">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true" disabled=""></span>&nbsp&nbsp发布信息
                    </button>

                </form>
                

              </div>
              </div>  
            </div>
          </div>
          {% for item in result %}
          <div class="panel panel-default">
            <div class="panel-body messenge_panel" id = "messenge_panel{{item.0}}">
              <div class = "row" id = "messenge_content">
                  <div class = "col-md-1">
                      <a href="#">
                          <img class="img-rounded" src="">
                      </a>
                  </div>
                  <div class = "col-md-11">
                      <p>
                          <strong class = "username">{{item.1}}</strong>
                          <h class = "time{{item.8}}">{{item.8}}</h>
                      </p>
                      <p>
                          {{item.2}}
                      </p>
                      {% if item.3 %}  
                        <p>
                          <img style="width:80%" src="{{item.5}}">
                        </p>
                        
                      {% endif %}
                  </div>


              </div>
              <hr class = "divider">
              <div class = "options">

                <div class = "row">
                    <div class = "col-md-2">
                        <button type="button" id = "btn_small_fav{{item.0}}" class="btn btn-default btn-sm btn_small_fav">收藏&nbsp&nbsp<span id="fav{{item.0}}">{{item.4}}</button>
                    </div>
                    <div class = "col-md-2">
                        <button type="button" id = "btn_small_comm{{item.0}}" class="btn btn-default btn-sm btn_small_comm">评论&nbsp&nbsp<span id="fav{{item.0}}">{{item.5}}</button>
                    </div>
                    <div class = "col-md-2">
                        <button type="button" id = "btn_small_re{{item.0}}" class="btn btn-default btn-sm btn_small_re">转发&nbsp&nbsp<span id="fav{{item.0}}">{{item.6}}</button>
                    </div>
                    <div class = "col-md-2">
                        <button type="button" id = "btn_small_like{{item.0}}" class="btn btn-default btn-sm btn_small_like">赞一个&nbsp&nbsp<span id="like{{item.0}}">{{item.7}}</span></button>
                    </div>
                </div>
                  
              </div>

              <div id="box"></div>
          <script type="text/javascript">
          $('#btn_small_fav{{item.0}}').click(function(){
              
              $('#btn_small_fav{{item.0}}').text("已收藏");
              $('#btn_small_fav{{item.0}}').css("color","#388E8E");
              //$('#btn_small_fav{{item.0}}').attr("disabled":"disabled");
              
          });
          </script>
          <script type="text/javascript">
          $('#btn_small_comm{{item.0}}').click(function(){
              var box = $('<div class="option_comment"><div class="row"><div class="col-md-1"><a href="#"><img class="img-rounded" src="{{pic}}"></a></div><div class="col-md-11"><form action="/send_comment/" method="POST"><textarea id="content" name = "content" class="form-control" rows="1"   placeholder="想说点儿什么？"></textarea><button type="submit" id="send" class="btn btn-primary btn-sm">评论</button></form></div></div></div>');
              $('#messenge_panel{{item.0}}').append(box);
            });

          </script>
          <script type="text/javascript">
          $('#btn_small_like{{item.0}}').click(function(){
              $.post('/like/',{mid:{{item.0}}},function(){
              var count = $('#like{{item.0}}').text();
              var count1 = Number(count);
              count1 +=1;
              $('#like{{item.0}}').text(count1.toString());
              $('#like{{item.0}}').css("color","#63B8FF");
              $('#btn_small_like{{item.0}}').css("color","#63B8FF");
              //$('#btn_small_like{{item.0}}').attr("disabled":"disabled");
              //$('#btn_small_like{{item.0}}').text("已赞"+$('#like{{item.0}}').text());
              });
          });
          </script>
          <script type="text/javascript">
              function getLocalTime(ns){
                return new Date(parseInt(ns)*1000).toLocaleString().replace(/:\d{1,2}$/,'').replace(/年|月/g, "-").replace(/日/, " ").replace("GMT+8"," ");
              }
              var time = getLocalTime($('.time{{item.8}}').text());
              $('.time{{item.8}}').text(time);
          </script>


              
            </div>
          </div>

          {% endfor %}


          </div>
        </div>
      </div>
      <div class="col-md-3">
          <div class="panel panel-default">
          <div class="panel-heading">可能感兴趣的人</div>
            <div class="panel-body">
                {% for item in recommends %}
                <div class = "row" style="padding-top:5px">
                  <div class="col-md-2">
                    <a href="">
                      <img class = "img-rounded" src="" style="width:60px,height:60px">
                    </a>
                  </div>
                  <div class="col-md-10">
                    <p style="margin-top:-3px"><strong>{{item.1}}</strong></p>
                    <button id ="follow{{item.0}}" class="btn btn-primary btn-xs">
                      建立联系
                    </button>
                  </div>
                  
                </div>
                <script type="text/javascript">
                  $('#follow{{item.0}}').click(function(){
                    $.post('/follow/',{user_name:{{item.0}}},function(){
                        $('#follow{{item.0}}').text("已建立联系");
                        $('#follow{{item.0}}').attr("disabled","disabled");
                    });
                  });
                </script>
                <hr class="divider">
                {% endfor %}
                <a style="margin-top:5px" href="">查看更多推荐</a>
            </div>
          </div>
          <div class="panel panel-default">
          <div class="panel-heading">推荐信息</div>
            <div class="panel-body">
                Ads
            </div>
          </div>


      </div>

        

    </div>
  <div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script type="text/javascript">
  
  </script>

  </body>
</html>